<a href="https://colab.research.google.com/github/Efm0059/EvelynMassonburg_INFO5731_Fall2024/blob/main/Assignment_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Data Quality Check

1.1 Using Python (pandas, matplotlib, or seaborn), load and inspect the Assignment 2 dataset.

In [ ]:
# Write your code here

from google.colab import files
uploaded = files.upload()

Saving Assignment 2 dataset.csv to Assignment 2 dataset.csv

Write code to explore the data distribution (e.g., region, type, year) and check whether there is any bias. Provide both the code and your interpretation.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Assignment 2 dataset.csv")

df.head()

,Column 1,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,12-27-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,12-20-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,12-13-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,12-6-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,11-29-2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

1.2 Write Python code to check for duplicate rows and missing values in the dataset. Show the number of duplicates and missing values for each column. Then, explain (in comments or markdown) how you would handle these issues (e.g., drop, impute, or replace).

In [ ]:
# Check number of duplicate rows
num_duplicates = df.duplicated().sum()
print("Number of duplicate rows:", num_duplicates)

# Check missing values for each column
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

Number of duplicate rows: 2
Missing values per column:
Column 1        0
Date            0
AveragePrice    0
Total Volume    1
4046            2
4225            1
4770            1
Total Bags      1
Small Bags      2
Large Bags      2
XLarge Bags     1
type            1
year            0
region          0
dtype: int64

1.3 Use Python code to print the number of rows and columns in the dataset (e.g., with df.shape). Based on the dataset size, explain (briefly) whether you think the dataset is sufficient for training a machine learning model.

In [ ]:
# Print number of rows and columns
df.shape

(18254, 14)

#2. Data Cleaning and Preprocessing

2.1 Remove the first column or “Column 1” from the dataset. Treat the ‘year’ variable as nominal.

In [ ]:
# Remove the first column (Column 1)
df = df.drop(df.columns[0], axis=1)

# Treat 'year' as a nominal (categorical) variable
df['year'] = df['year'].astype(str)

df.head()

   Small Bags  Large Bags  XLarge Bags          type  year  region
0     8603.62       93.25          0.0  conventional  2015  Albany
1     9408.07       97.49          0.0  conventional  2015  Albany
2     8042.21      103.14          0.0  conventional  2015  Albany
3     5677.40      133.76          0.0  conventional  2015  Albany
4     5986.26      197.69          0.0  conventional  2015  Albany

2.2 Check for duplicate values and remove them.

In [ ]:
df = df.drop_duplicates()

2.3 Check for missing values. If a data record (row) only has a few missing values, replace the missing values with the median of the column feature in that specific “Region” variable. If most column values in a data record are missing, remove the data record.

In [ ]:
# Drop rows with many missing values
df = df.dropna(thresh=len(df.columns) - 2)

# Fill remaining missing values with column median
df = df.fillna(df.median(numeric_only=True))

2.4 Find the correlation between the variables and describe how the correlated values among the variables impact the model accuracy.

In [ ]:
df.corr(numeric_only=True)

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
AveragePrice,1.000000,-0.192780,-0.208335,-0.172958,-0.179469,-0.177116,-0.174751,-0.172960,-0.117615
Total Volume,-0.192780,1.000000,0.977863,0.974181,0.872204,0.963048,0.967239,0.880641,0.747159
4046,-0.208335,0.977863,1.000000,0.926111,0.833390,0.920057,0.925281,0.838646,0.699379
4225,-0.172958,0.974181,0.926111,1.000000,0.887856,0.905789,0.916032,0.810017,0.688811
4770,-0.179469,0.872204,0.833390,0.887856,1.000000,0.792316,0.802734,0.698473,0.679864
Total Bags,-0.177116,0.963048,0.920057,0.905789,0.792316,1.000000,0.994335,0.943010,0.804234
Small Bags,-0.174751,0.967239,0.925281,0.916032,0.802734,0.994335,1.000000,0.902590,0.806846
Large Bags,-0.172960,0.880641,0.838646,0.810017,0.698473,0.943010,0.902590,1.000000,0.710860
XLarge Bags,-0.117615,0.747159,0.699379,0.688811,0.679864,0.804234,0.806846,0.710860,1.000000

#3. Exploratory Data Analysis (EDA)

3.1 Describe the variables
- Describe all variables in the dataset.
- For continuous variables: report **range (min, max), mean, median, and distribution**.
- For categorical variables: list unique values.

In [ ]:
df.describe()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
count,18254,18254.000000,1.825300e+04,1.825200e+04,1.825300e+04,1.825300e+04,1.825300e+04,1.825200e+04,1.825200e+04,18253.000000
mean,2016-08-11 20:13:02.557247744,1.406073,8.504609e+05,2.929605e+05,2.950905e+05,2.283481e+04,2.395890e+05,1.821666e+05,5.432919e+04,3105.745759
min,1904-01-21 00:00:00,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,2015-10-25 00:00:00,1.100000,1.084277e+04,8.544900e+02,3.006890e+03,0.000000e+00,5.090410e+03,2.852128e+03,1.273700e+02,0.000000
50%,2016-08-14 00:00:00,1.370000,1.073061e+05,8.640940e+03,2.905471e+04,1.849900e+02,3.973703e+04,2.634000e+04,2.646115e+03,0.000000
75%,2017-06-04 00:00:00,1.660000,4.329238e+05,1.109857e+05,1.500448e+05,6.237960e+03,1.107744e+05,8.333329e+04,2.199632e+04,132.230000
max,2018-03-25 00:00:00,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000
std,NaN,0.402668,3.453189e+06,1.264891e+06,1.203996e+06,1.074528e+05,9.861401e+05,7.461204e+05,2.439469e+05,17691.015569

3.2 Inspect the earliest recorded date
- Find the earliest `Date`.
- Check if there are avocado prices recorded from the earliest date up to 2010.
- Comment: does the earliest data point look reasonable? Keep or remove?

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date'].min()

Timestamp('1904-01-21 00:00:00')

3.3 Highest average price
- Find the highest value in "AveragePrice".
- Report which region it belongs to.
- Describe how you obtained the result.

In [ ]:
df['AveragePrice'].max()

3.25

3.4 Highest total volume
- Find the highest total volume of avocados.
- Report which region it belongs to.
- Describe how you obtained the result.

In [ ]:
df['Total Volume'].max()

62505646.52